@import "./variables.scss";
html,
body {
  margin: 0;
  border: 0;
  height: 120%;
  background-color: #e6e2e1;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #2d2d5a;
}
::-webkit-scrollbar-thumb {
  background: #dc3545;
}
::-webkit-scrollbar-thumb:hover {
  background: $theme_saffron;
}
header {
  .top {
    background-color: $theme_blue;
    padding: 0.5rem 0;
    span {
      color: #ffffff;
      @include poppins;
      font-size: 0.9rem;
      a {
        color: #ffffff;
        text-decoration: none;
      }
      i {
        font-size: 1.1rem;
      }
    }
  }
  nav {
    a {
      img {
        margin: 0 4rem 0 8rem;
      }
    }
    .collapse {
      ul {
        li {
          @include poppins;
          font-weight: bold;
        }
      }
    }
  }
}
.banner {
  padding: 1rem 0;
  background-color: $theme_saffron;
  padding-left: 5rem;
  h2.b1 {
    @include poppins;
    font-weight: 400;
    font-size: 3rem;
  }
  h2.b2 {
    @include poppins;
    font-weight: 900;
    color: #ffffff;
    font-size: 4rem;
  }
}
