@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$theme_blue: #0c5db6;
$theme_red: #da1617;
$theme_saffron: #f08163;

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

@mixin hover {
  color: $theme_saffron !important;
  text-shadow: 0px 2px 10px grey;
}
